<div class="row" *ngIf="product && productForm">
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h5 class="card-title">Edit Product</h5></div>
            <div class="card-body">
                <form [formGroup]="productForm" (ngSubmit)="save()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" 
                            formControlName="name" placeholder="Product Name">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description" 
                            formControlName="description" placeholder="Description">
                    </div>
                    <div class="mb-3">
                        <label for="source" class="form-label">Source</label>
                        <input type="text" class="form-control" id="source" name="source" 
                            formControlName="source" placeholder="Source">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="text" class="form-control" id="quantity" name="quantity" 
                            formControlName="quantity" placeholder="Quantity">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" name="price" 
                            formControlName="price" placeholder="Price">
                    </div>
                    <div class="mb-3">
                        <label for="photo" class="form-label">Photo</label>
                        <input type="text" class="form-control" id="photo" name="photo" 
                            formControlName="photo" placeholder="Photo">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success" type="submit">Save</button>&nbsp;
                        <button class="btn btn-secondary" (click)="goBack()"><< Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>