<div class="row">
    <div class="col-12">
        <div class="alert alert-danger" *ngIf="message">{{ message }}</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No.</th>
                    <th colspan="2">Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of shoppingCart; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td><img [src]="cartItem.product.photo" class="img-thumbnail" width="150"/></td>
                    <td>
                        <h4 class="card-title">{{ cartItem.product.name }}</h4>
                        <p class="card-text">{{ cartItem.product.description }}</p>
                        <h6 class="card-title">Source: {{ cartItem.product.source }}</h6>
                    </td>
                    <td>
                        <h6>Quantity: {{ cartItem.product.quantity }}</h6>
                    </td>
                    <td>
                        <h6>Price: {{ cartItem.product.price }}</h6>
                    </td>
                    <td>
                        <input type="text" size="3" maxlength="3" #requiredQuantity
                            [value]="cartItem.requiredQuantity"/>&nbsp;
                        <button class="btn btn-primary" 
                            (click)="update(cartItem, +requiredQuantity.value)">
                            Update</button>&nbsp;
                        <button class="btn btn-danger"
                            (click)="delete(cartItem)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>