<div class="card" *ngIf="product">
    <!-- 
        In property binding the attribute is enclosed with []
        Whatever you have on the right hand side of the equal symbol (=) 
        will be evaluated eventhough it is inside the double quote ("")
        Example: <input type="text" size="10" [value]="3 + 3"/>
    -->
    <img [src]="product.photo" class="card-img-top"/>
    <div class="card-body">
        <h4 class="card-title">{{ product.name | uppercase }}</h4>
        <!--
        <p class="card-text" 
            [style.color]="getDescriptionColor(product.source)"
            [style.font-size.px]="'18'">
            {{ product.description }}</p>
        -->
        <p class="card-text" 
            [ngStyle]="{
                'color':getDescriptionColor(product.source),
                'font-size.px':'18'
            }">{{ product.description }}</p>
        <!--
        <h6 [class.text-primary]="product.source === 'USA'"
            [class.text-danger]="product.source === 'CHINA'"
            [class.text-success]="product.source === 'MALAYSIA'">
            {{ product.source }}</h6>
        -->
        <h6 [ngClass]="{
                'text-primary':product.source === 'USA',
                'text-danger':product.source === 'CHINA',
                'text-success':product.source === 'MALAYSIA'
            }">Source: {{ product.source }}</h6>
        <!--
        <h6 class="lessQuantity">Quantity: {{ product.quantity }}</h6>
        <h6 [class]="lessQuantity">Quantity: {{ product.quantity }}</h6>
        <h6 [class]="'lessQuantity'">Quantity: {{ product.quantity }}</h6>
        -->
        <!-- Apply the css class when the condition is true -->
        <h6 [class.lessQuantity]="(product.quantity < minimumQuantity)">
            Quantity: {{ product.quantity }}</h6>
        <!-- Supply different values to the css style based on some condition-->
        <h6 [style.color]="(product.price < 1000) ? 'green' : (product.price < 3000) ? 'blue' : 'red'">
            Price: {{ product.price | currency:"RM" }}</h6>
        <!-- <div *ngIf="product.quantity >= minimumQuantity"> -->
        <!-- 
            #requiredQuantity is the template referrence variable
            which is pointing to the entire input box
            if you want to pull out the value "requiredQuantity.value"
        -->
        <input type="text" size="3" maxlength="3" #requiredQuantity
            (keyup)="checkQuantity(product, requiredQuantity, addButton, message)"/>&nbsp;
        <button class="btn btn-primary" #addButton
            [disabled]="(product.quantity < minimumQuantity)"
            (click)="addToCart(product, requiredQuantity, message)">
            <span [innerHtml]="(product.quantity < minimumQuantity) ? 'Out of stock' : 'Add to Cart'"></span>
        </button>&nbsp;
        <span #message></span>
        <!-- </div> -->
    </div>
</div>
